<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="ocrBaseUri" value="https://cloud.dynamsoft.com/Rest/ocr/v1.1/file"/>
    <add key="x-api-key" value="YourOwnApiKey"/>
  </appSettings>
</configuration>
